/* general styles */

body h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Exo 2", sans-serif;
}

body h1,
h2,
h3,
h4,
h5 {
  color: #fc6161;
}

/* navbar styles */
.navbar {
  color: #fc6161;
  background-color: #fafafa;
}
.navbar-logo-sm img {
  height: 60px;
  width: 60px;
}

.navbar-logo-lg img {
  height: 80px;
  width: 240px;
}

.navbar-light .navbar-toggler {
  border: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: #fc6161;
  font-size: 1.25rem;
  font-family: "Exo 2", sans-serif;
  text-align: right;
  margin-right: 1rem;
}

.navbar-nav .dropdown-menu {
  background-color: #fafafa;
  text-align: right;
  border: 1px solid #fafafa;
}

.dropdown-menu .dropdown-item {
  font-size: 1rem;
}
.dropdown-item {
  color: #fc6161;
  font-family: "Exo 2", sans-serif;
}
/* END navbar styles */

/* footer styles */
.footer-container {
    background-color: #fafafa;
}

.footer-links {
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.footer-links a {
    font-size: 32px;
    color: #fc6161;
    margin: 2vh;
    text-decoration: none;
}

.footer-links a:hover {
    color: #000;
} 

.footer-links p {
    display: inline;
    font-size: 16px;
    color: #fc6161;
    margin: 2vh;
}
/* END footer styles */


/* welcome page styles */
.hero-image {
  background: url(../images/turntable-hero-image.jpg) no-repeat center fixed;
  background-size: cover;
  height: 100vh;
}

.welcome {
  text-align: center;
  padding-top: 15vh;
  padding-bottom: 5vh;
  font-size: 3rem;
  font-weight: 500;
}

@media only screen and (max-width: 992px) {
  .main-logo {
    display: block;
    width: 81vw;
    height: 27vw;
    margin: auto;
    border: 1px solid #fc6161;
    border-radius: 5px;
  }
}

@media only screen and (min-width: 993px) {
  .main-logo {
    display: block;
    width: 60vw;
    height: 20vw;
    margin: auto;
    border: 1px solid #fc6161;
    border-radius: 5px;
  }
}
/* END welcome page styles */

/* New In page styles */
#new-in h2 {
    margin-top: 5vh;
    text-align: center;
}

#new-in h3 {
    margin-top: 3vh;
    text-align: center;
}

.carousel-control-prev .carousel-control-prev-icon,
.carousel-control-next .carousel-control-next-icon {
    background-color: #fc6161;
}

.album-name, .artist, .price {
    text-align: center;
    margin: 0 auto;
}

.album-name {
    margin-top: 2vh;
}

.carousel-indicators {
    bottom: 60px;
}